<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @player.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Club Id:</strong>
  <%= @player.club_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @player.position %>
</p>

<p>
  <strong>Number:</strong>
  <%= @player.number %>
</p>

<p>
  <strong>Age:</strong>
  <%= @player.age %>
</p>

<p>
  <strong>Country:</strong>
  <%= @player.country %>
</p>

<p>
  <strong>Contract until:</strong>
  <%= @player.contract_until %>
</p>

<p>
  <strong>Market value €:</strong>
  <%= number_with_precision(@player.market_value, precision: 2) %><%= @player.cost_type %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', "/players/show" %>