<p id="notice"><%= notice %></p>

<p>
  <strong>Club:</strong>
  <%= @tournament_club.club %>
</p>

<p>
  <strong>English Name:</strong>
  <%= @tournament_club.english_name %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @tournament_club.founded %>
</p>

<p>
  <strong>Stadium:</strong>
  <%= @tournament_club.stadium %>
</p>

<p>
  <strong>Squad size:</strong>
  <%= @tournament_club.squad_size %>
</p>

<p>
  <strong>National Team Players:</strong>
  <%= @tournament_club.national_team_players %>
</p>

<p>
  <strong>Foreigners:</strong>
  <%= @tournament_club.foreigners %>
</p>

<p>
  <strong>Average Age:</strong>
  <%= "#{'%.2f' % @tournament_club.average_age}" %>
</p>

<p>
  <strong>Total Market Value:</strong>
  €<%= "#{'%.2f' % @tournament_club.total_market_value}" %>m
</p>

<p>
  <strong>Achievements:</strong>
</p>
<textarea rows="10" cols="45" readonly>
<%= @tournament_club.achievements %>
</textarea>

<br>
<%= link_to 'Team composition', tournament_club_players_path(@tournament_club) %>
<%= link_to 'Coach', tournament_club_coach_path(@tournament_club) %>
<p></p>
<%= link_to 'Edit', edit_tournament_club_path(@tournament_club) %>
<%= link_to 'Back', tournament_clubs_path %>

<div class="container-games">
  <div class="games">
    <h2>Home games</h2>

    <table cellspacing="12">
      <thead>
        <tr>
          <th>Tour</th>
          <th>Match date</th>
          <th>Home team</th>
          <th>Result</th>
          <th>Away team</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @tournament_club.homes.each do |home_match| %>
          <tr>
            <td><%= home_match.tour %></td>
            <td><%= home_match.match_date.strftime("%d.%m.%Y %H:%M") %></td>
            <td><%= @tournament_club.club %></td>
            <td><%= home_match.result %></td>
            <td><%= home_match.away_team %></td>
            <td><a href="/tournament_clubs/<%= @tournament_club.id %>/homes/<%= home_match.id %>">Show</a></td>
            <td><a href="/tournament_clubs/<%= @tournament_club.id %>/homes/<%= home_match.id %>/edit">Edit</a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'New home match', new_tournament_club_home_path(@tournament_club) %>
  </div>

  <div class="games">
    <h2>Away games</h2>

    <table cellspacing="12">
      <thead>
        <tr>
          <th>Tour</th>
          <th>Match date</th>
          <th>Home team</th>
          <th>Result</th>
          <th>Away team</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @tournament_club.aways.each do |away_match| %>
          <tr>
            <td><%= away_match.tour %></td>
            <td><%= away_match.match_date.strftime("%d.%m.%Y %H:%M") %></td>
            <td><%= away_match.home_team %></td>
            <td><%= away_match.result %></td>
            <td><%= @tournament_club.club %></td>
            <td><a href="/tournament_clubs/<%= @tournament_club.id %>/aways/<%= away_match.id %>">Show</a></td>
            <td><a href="/tournament_clubs/<%= @tournament_club.id %>/aways/<%= away_match.id %>/edit">Edit</a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'New home match', new_tournament_club_away_path(@tournament_club) %>
  </div>
  <h3>!!!You can destroy the match in the "Show" section</h3>
</div>
